<form [formGroup]="f" fxLayout="column">
  <mat-form-field fxFlex="100">
    <mat-label>Nombre</mat-label>
    <input formControlName="name" type="text" matInput>

    <mat-error *ngIf="f.get('name').hasError('required')">
      El nombre es requerido
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>ColorModel</mat-label>
    <input matInput formControlName="color" maxlength="7">

    <app-color-picker matSuffix [control]="f.get('color')"></app-color-picker>
    <mat-error *ngIf="f.get('color').hasError('required')">
      El ColorModel es requerido
    </mat-error>
    <mat-error *ngIf="f.get('color').hasError('hexColor')">
      El formato del ColorModel es incorrecto
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex="100">
    <mat-label>Pantone</mat-label>
    <input formControlName="pantone" type="text" matInput>
  </mat-form-field>
  <mat-form-field fxFlex="100">
    <mat-label>Año</mat-label>
    <input formControlName="year" type="number"  maxlength="4" matInput>

    <mat-error *ngIf="f.get('year').hasError('required')">
      El año es requerido
    </mat-error>

    <mat-error *ngIf="f.get('year').hasError('min') || f.get('year').hasError('max')">
      El año es incorrecto
    </mat-error>
  </mat-form-field>
</form>
