.color-card {
  margin-top: 16px;
  height: 220px;
}

.year {
  font-size: 12pt;
}

.circle-color {
  margin-left: auto;
  border-radius: 50%;
  height: 38px;
  width: 38px;
}

.pantone {
  font-size: 12pt;
  margin-left: auto;
}

.name-container {
  margin-top: auto;
  margin-bottom: auto;
}

.color-name {
  font-size: 14pt;
}

.color {
  font-size: 16pt;
  font-weight: bold;
}
